@using AntDesign.Pro.Layout
@using Volo.Abp.UI.Navigation;
@using Microsoft.Extensions.Options
@using TF.Abp.Blazor.Layout.AntDesignTheme.Setting

@inherits LayoutComponentBase
@inject IOptions<ProSettings> SettingState
@inject IOptions<TFAntDesignSettings> TFSettingState

<AntDesign.Pro.Layout.BasicLayout Logo="SettingState.Value.IconfontUrl"
                                  MenuData="_menuData">
    <RightContentRender>
        <TF.Abp.Blazor.Layout.AntDesignTheme.Themes.Basic.RightContent />
    </RightContentRender>
    <ChildContent>
        @Body
    </ChildContent>
    <FooterRender>
        <div class="ant-pro-global-footer">
            <div class="ant-pro-global-footer-copyright">
                Copyright <AntDesign.Icon Type="copyright" /><a href="@TFSettingState.Value.CopyrightUrl"> @TFSettingState.Value.Copyright</a>
            </div>
        </div>
</FooterRender>
</AntDesign.Pro.Layout.BasicLayout>
<SettingDrawer />

@*@inject HttpClient HttpClient*@
@code
{


    //private MenuDataItem[] MenuData { get; set; } = { };

    //protected override async Task OnInitializedAsync()
    //{
    //    await base.OnInitializedAsync();
    //    var data = await HttpClient.GetFromJsonAsync<MenuDataItem[]>("data/menu.json");
    //    //MenuDataItem item = new MenuDataItem();
    //    //item.Path = "/";
    //    //item.Name = "Dashboard";
    //    //item.Key = "dashboard";
    //    //item.Icon = "dashboard";
    //    //MenuData.Append(item);

    //    MenuData = data;
    //}
}